@page "/"
@attribute [Authorize]
@using Syncfusion.Blazor.Charts
@using System.Globalization;
@using System.Dynamic

@inject IDapperSqlDataAccess DapperDb
@inject ICryptocurrenciesData _db
@inject IHangfireJobs HangfireDb

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IHttpClientFactory _clientFactory


<div class="container">
    <div class="row">
        <div class="col-8">
            <SfChart Title="Total Balance">
                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                <ChartSeriesCollection>
                    <ChartSeries DataSource="@MedalDetails" XName="X" YName="Y" Type="ChartSeriesType.Line">
                    </ChartSeries>
                </ChartSeriesCollection>
            </SfChart>
        </div>
        <div class="col-4">
            <SfAccumulationChart Title="Your portfolio">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@StatisticsDetails" XName="Cryptocurrency" YName="Amount"
                                             Name="Amount" InnerRadius="40%">
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>
                <AccumulationChartTooltipSettings Enable="true" Header="Amount ($)"></AccumulationChartTooltipSettings>
                <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
            </SfAccumulationChart>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @if (cryptocurrencies is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Change</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Add</th>
                        <th scope="col">Subtract</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Crypto in cryptocurrencies)
                    {
                        <tr>
                            <td><a>@Crypto.Base</a></td>
                            <td>@Crypto.Price</td>
                            @if (@Crypto.Change > 0)
                            {
                                <td><p style="color:#18b53c;">@Crypto.Change</p></td>
                            }
                            else if (@Crypto.Change == 0)
                            {
                                <td><p>@Crypto.Change</p></td>
                            }
                            else if (@Crypto.Change < 0)
                            {
                                <td><p style="color:red;">@Crypto.Change</p></td>
                            }

                            <td>@Crypto.Volume</td>
                            <td><button type="button" @onclick="@(() => ShowEditUserData(username, Crypto.Base))" class="btn btn-success">   +   </button></td>
                            <td><button type="button" @onclick="@(() => ShowEditUserData(username, Crypto.Base))" class="btn btn-danger">   -   </button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>
<p>@id</p>
<p>@bitcoin</p>



@code{



    [CascadingParameter] public IModalService Modal { get; set; }

    //public List<ExpandoObject> MedalDetails { get; set; } = new List<ExpandoObject>();

    void ShowEditUserData(string username, string Base)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditUserData.Username), username);
        parameters.Add(nameof(EditUserData.Base), Base);

        Modal.Show<EditUserData>("Crypto Manager", parameters);
    }


    string[] CryptoList = new string[10]
    { "btc-usd", "eth-usd", "bnb-usd", "etc-usd", "dot-usd", "link-usd", "xmr-usd", "dash-usd", "zil-usd", "rvn-usd"}; // kolejnosc?

    //public static Dictionary<string, double> PricesAndAmount = new Dictionary<string, double>();

    //public static List<double> PricesAndAmount = new List<double>();

    public static double[] PricesAndAmount = new double[10];

    double[] Prices = new double[10];
    double[] Amount = new double[10];

    private List<CryptocurrencySqlModel> cryptocurrencies;
    private List<UserDataModel> LineChartData;



    public string username;

    public int id = 0;

    public double bitcoin = 0;
    public double ethereum = 0;
    public double binancecoin = 0;
    public double polkadot = 0;
    public double chainlink = 0;
    public double monero = 0;
    public double dash = 0;
    public double zillqa = 0;
    public double ravencoin = 0;
    public double etherumclassic = 0;

    string errorString;
    CryptocurrencyModel crypto;

    public static double bitcoinAmonutWithActualPrice = 0;
    public static double ethereumAmonutWithActualPrice = 0;
    public static double binancecoinAmonutWithActualPrice = 0;
    public static double polkadotAmonutWithActualPrice = 0;
    public static double chainlinkAmonutWithActualPrice = 0;
    public static double moneroAmonutWithActualPrice = 0;
    public static double dashAmonutWithActualPrice = 0;
    public static double zillqaAmonutWithActualPrice = 0;
    public static double ravencoinAmonutWithActualPrice = 0;
    public static double etherumclassicAmonutWithActualPrice = 0;


    protected override async Task OnInitializedAsync()
    {
        //Db call

        //cryptocurrencies = await _db.GetLastCryptoRecords();

        cryptocurrencies = DapperDb.GetLastCryptoRecords();


        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        username = user.Identity.Name;


        if (username != null)
        {

            LineChartData = DapperDb.GetAllUserDataForUser(username);
            var userdata = DapperDb.GetLastUserDataModel(username); //email
            id = userdata.Id;

            bitcoin = userdata.Bitcoin;
            Amount[0] = bitcoin;

            ethereum = userdata.Ethereum;
            Amount[1] = ethereum;

            binancecoin = userdata.BinanceCoin;
            Amount[2] = binancecoin;

            etherumclassic = userdata.EtherumClassic;
            Amount[3] = etherumclassic;

            polkadot = userdata.Polkadot;
            Amount[4] = polkadot;

            chainlink = userdata.Chainlink;
            Amount[5] = chainlink;

            monero = userdata.Monero;
            Amount[6] = monero;

            dash = userdata.Dash;
            Amount[7] = dash;

            zillqa = userdata.Zilliqa;
            Amount[8] = zillqa;

            ravencoin = userdata.RavenCoin;
            Amount[9] = ravencoin;


        }


        for (int i = 0; i < CryptoList.Length; i++)
        {
            //Api call
            var request = new HttpRequestMessage(HttpMethod.Get,
                CryptoList[i]);

            var client = _clientFactory.CreateClient("cryptonator");

            HttpResponseMessage response = await client.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                crypto = await response.Content.ReadFromJsonAsync<CryptocurrencyModel>();
                //date = DateTimeOffset.FromUnixTimeSeconds(crypto.Timestamp + 3600);
                errorString = null;
            }
            else
            {
                errorString = $"There was an error : { response.ReasonPhrase }";
            }


            PricesAndAmount[i] = Double.Parse(crypto.Ticker.Price, CultureInfo.InvariantCulture) * Amount[i];

        }


    }

    public class ChartData
    {
        public string X { get; set; }
        public double Y { get; set; }
    }

    public List<ChartData> MedalDetails = new List<ChartData>
    {
        new ChartData { X= "South Korea", Y= 39.4 },
        new ChartData { X= "India", Y= 61.3 },
        new ChartData { X= "Pakistan", Y= 20.4 },
        new ChartData { X= "Germany", Y= 65.1 },
        new ChartData { X= "Australia", Y= 15.8 },
        new ChartData { X= "Italy", Y= 29.2 },
        new ChartData { X= "United Kingdom", Y= 44.6 },
        new ChartData { X= "Saudi Arabia", Y= 9.7 },
        new ChartData { X= "Russia", Y= 40.8 },
        new ChartData { X= "Mexico", Y= 31 },
        new ChartData { X= "Brazil", Y= 75.9 },
        new ChartData { X= "China", Y= 51.4 }
    };



    public class Statistics
    {
        public string Cryptocurrency { get; set; }
        public double Amount { get; set; }
    }

    //if w przypadku braków środków
    public List<Statistics> StatisticsDetails = new List<Statistics>
    {
        new Statistics { Cryptocurrency = "Bitcoin", Amount = Math.Round(PricesAndAmount[0],2) },
        new Statistics { Cryptocurrency = "Ethereum", Amount = Math.Round(PricesAndAmount[1],2) },
        new Statistics { Cryptocurrency = "BinanceCoin", Amount = Math.Round(PricesAndAmount[2],2) },
        new Statistics { Cryptocurrency = "Polkadot", Amount = Math.Round(PricesAndAmount[3],2)  },
        new Statistics { Cryptocurrency = "Chainlink", Amount = Math.Round(PricesAndAmount[4],2) },
        new Statistics { Cryptocurrency = "Monero", Amount = Math.Round(PricesAndAmount[5],2) },
        new Statistics { Cryptocurrency = "Dash", Amount = Math.Round(PricesAndAmount[6],2) },
        new Statistics { Cryptocurrency = "Zilliqa", Amount = Math.Round(PricesAndAmount[7],2) },
        new Statistics { Cryptocurrency = "RavenCoin", Amount = Math.Round(PricesAndAmount[8],2) },
        new Statistics { Cryptocurrency = "EtherumClassic", Amount = Math.Round(PricesAndAmount[9],2) }
    };


}