@page "/"
@attribute [Authorize]
@using Syncfusion.Blazor.Charts
@using System.Globalization;
@using System.Dynamic

@inject IDapperSqlDataAccess DapperDb
@inject IHangfireJobs HangfireDb

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IHttpClientFactory _clientFactory


<div class="container">
    <div class="row">
        <div class="col-8">
            <SfChart Title="Total Balance">
                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                <ChartSeriesCollection>
                    <ChartSeries DataSource="@MedalDetails" XName="X" YName="Y" Type="ChartSeriesType.Line">
                    </ChartSeries>
                </ChartSeriesCollection>
            </SfChart>
        </div>
        <div class="col-4">
            <SfAccumulationChart Title="Your portfolio">
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@StatisticsDetails" XName="Cryptocurrency" YName="Amount"
                                             Name="Amount" InnerRadius="40%">
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>
                <AccumulationChartTooltipSettings Enable="true" Header="Amount ($)"></AccumulationChartTooltipSettings>
                <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
            </SfAccumulationChart>
            <p>@totalValue</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @if (cryptocurrencies is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Change</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Crypto in cryptocurrencies)
                    {
                        <tr>
                            <td><a>@Crypto.Name</a></td>
                            <td>@Crypto.Price_usd</td>
                            @if (@Crypto.Percent_change_24h > 0)
                            {
                                <td><p style="color:#18b53c;">@Crypto.Percent_change_24h %</p></td>
                            }
                            else if (@Crypto.Percent_change_24h == 0)
                            {
                                <td><p>@Crypto.Percent_change_24h %</p></td>
                            }
                            else if (@Crypto.Percent_change_24h < 0)
                            {
                                <td><p style="color:red;">@Crypto.Percent_change_24h %</p></td>
                            }

                            <td>@Crypto.Volume24</td>
                            <td><button type="button" @onclick="@(() => ShowEditUserData(username, Crypto.Name))" class="btn btn-outline-info">Edit</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>



@code{

    string[] CryptoList = new string[10]
   { "BTC", "ETH", "BNB", "DOT", "LINK", "XMR", "DASH", "ZIL", "RVN", "UNI"}; // kolejnosc?

    [CascadingParameter] public IModalService Modal { get; set; }

    //public List<ExpandoObject> MedalDetails { get; set; } = new List<ExpandoObject>();

    void ShowEditUserData(string username, string Name)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditUserData.Username), username);
        parameters.Add(nameof(EditUserData.Name), Name);

        Modal.Show<EditUserData>($"{Name} Manager", parameters);
    }
    double totalValue = 0;

    public static double[] PricesAndAmount = new double[10];

    double[] Prices = new double[10];
    double[] Amount = new double[10];

    private List<CryptocurrencySqlModel> cryptocurrencies;
    private List<PortfolioData> LineChartData;


    public string username;

    public int id = 0;

    public double bitcoin = 0;
    public double ethereum = 0;
    public double binancecoin = 0;
    public double polkadot = 0;
    public double chainlink = 0;
    public double monero = 0;
    public double dash = 0;
    public double zillqa = 0;
    public double ravencoin = 0;
    public double uniswap = 0;

    string errorString;
    CryptocurrencyModel crypto;


    protected override async Task OnInitializedAsync()
    {
        //Db call

        //cryptocurrencies = await _db.GetLastCryptoRecords();

        cryptocurrencies = DapperDb.GetLastCryptoRecords();


        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        username = user.Identity.Name;


        if (username != null)
        {

            LineChartData = DapperDb.GetPortfolioData(username);
            var userdata = DapperDb.GetLastUserDataModel(username); //email
            id = userdata.Id;

            binancecoin = userdata.BinanceCoin;
            Amount[0] = binancecoin;

            bitcoin = userdata.Bitcoin;
            Amount[1] = bitcoin;

            chainlink = userdata.Chainlink;
            Amount[2] = chainlink;

            dash = userdata.Dash;
            Amount[3] = dash;

            ethereum = userdata.Ethereum;
            Amount[4] = ethereum;

            monero = userdata.Monero;
            Amount[5] = monero;

            polkadot = userdata.Polkadot;
            Amount[6] = polkadot;

            ravencoin = userdata.RavenCoin;
            Amount[7] = ravencoin;

            uniswap = userdata.Uniswap;
            Amount[8] = uniswap;

            zillqa = userdata.Zilliqa;
            Amount[9] = zillqa;

        }

        cryptocurrencies.OrderBy(x => x.Name);

        for (int i = 0; i < CryptoList.Length; i++)
        {
            Console.WriteLine(Amount[i]);
            Console.WriteLine(cryptocurrencies[i].Name + " = " + cryptocurrencies[i].Price_usd);
            Console.WriteLine(cryptocurrencies[i].Price_usd * Amount[i]);
            PricesAndAmount[i] = cryptocurrencies[i].Price_usd * Amount[i];
        }
        cryptocurrencies.OrderBy(x => x.Rank);
        totalValue = Math.Round(PricesAndAmount.Sum(), 2);

    }

    public class ChartData
    {
        public string X { get; set; }
        public double Y { get; set; }
    }

    public List<ChartData> MedalDetails = new List<ChartData>
{
        new ChartData { X= "South Korea", Y= 39.4 },
        new ChartData { X= "India", Y= 61.3 },
        new ChartData { X= "Pakistan", Y= 20.4 },
        new ChartData { X= "Germany", Y= 65.1 },
        new ChartData { X= "Australia", Y= 15.8 },
        new ChartData { X= "Italy", Y= 29.2 },
        new ChartData { X= "United Kingdom", Y= 44.6 },
        new ChartData { X= "Saudi Arabia", Y= 9.7 },
        new ChartData { X= "Russia", Y= 40.8 },
        new ChartData { X= "Mexico", Y= 31 },
        new ChartData { X= "Brazil", Y= 75.9 },
        new ChartData { X= "China", Y= 51.4 }
    };



    public class Statistics
    {
        public string Cryptocurrency { get; set; }
        public double Amount { get; set; }
    }

    //if w przypadku braków środków
    public List<Statistics> StatisticsDetails = new List<Statistics>
{
        new Statistics { Cryptocurrency = "BinanceCoin", Amount = Math.Round(PricesAndAmount[0],2) },
        new Statistics { Cryptocurrency = "Bitcoin", Amount = Math.Round(PricesAndAmount[1],2) },
        new Statistics { Cryptocurrency = "Chainlink", Amount = Math.Round(PricesAndAmount[2],2) },
        new Statistics { Cryptocurrency = "Dash", Amount = Math.Round(PricesAndAmount[3],2)  },
        new Statistics { Cryptocurrency = "Ethereum", Amount = Math.Round(PricesAndAmount[4],2) },
        new Statistics { Cryptocurrency = "Monero", Amount = Math.Round(PricesAndAmount[5],2) },
        new Statistics { Cryptocurrency = "Polkadot", Amount = Math.Round(PricesAndAmount[6],2) },
        new Statistics { Cryptocurrency = "RavenCoin", Amount = Math.Round(PricesAndAmount[7],2) },
        new Statistics { Cryptocurrency = "Uniswap", Amount = Math.Round(PricesAndAmount[8],2) },
        new Statistics { Cryptocurrency = "Zilliqa", Amount = Math.Round(PricesAndAmount[9],2) }
    };


}